@model KintoSharePortal.Models.UserModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>Kinto Share Portal</title>
    <link href="~/Content/bsb/css/icon.css" rel="stylesheet" />
    <link href="~/Content/bsb/css/font.css" rel="stylesheet" />
    <link href="~/Content/bootstrap 4.2.1.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/bsb/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Content/bsb/css/style_new.css">
    <!-- Favicon-->
    @Styles.Render("~/bundles/bsb")
</head>

<body class="login-page" width: auto; background-repeat: no-repeat; background-size: cover;>

    <div class="login-box">
        <div class="card" style="opacity: 0.95">
            <div class="body">
                <form>
                    <div class="logo" style="margin-bottom: 10px; text-align: center">
                        <img src="@Url.Content("~/Content/bsb/images/KINTO.jpeg")" style="width: 200px;" />
                    </div>
                    <div class="msg" style="margin-bottom: 15px">Welcome to <strong>Kinto Share Portal</strong></div>
                    <div class="input-group" style="margin-bottom: 15px">
                        <span class="input-group-addon">
                            <i class="material-icons">person</i>
                        </span>
                        <div class="form-line">
                            <input type="text" id="txtUsername" class="form-control" placeholder="Username" />
                        </div>
                        <label id="username-error" class="error" for="username" style="display: none;">This field is required.</label>
                    </div>
                    <div class="input-group" style="margin-bottom: 15px">
                        <span class="input-group-addon">
                            <i class="material-icons">lock</i>
                        </span>
                        <div class="form-line">
                            <input type="password" id="txtPassword" class="form-control" placeholder="Password" required />
                        </div>
                        <label id="password-error" class="error" for="password" style="display: none;">This field is required.</label>
                    </div>
                    <div class="row">
                        <div class="col-xs-4" style="margin-bottom: 10px">
                            <button type="button" id="btnSignIn" class="btn btn-lg bg-cyan waves-effect">SIGN IN</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    
    <!--Modal-->
    <div id="partialModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>
    <!--End Modal-->
</body>
</html>

@Scripts.Render("~/bundles/js")
<script src="~/Scripts/GlobalConfig.js"></script>
<script type="text/javascript">
    $(function () {
        $("#btnSignIn").click(function () {
            $(this).prop("disabled", true);
            $(this).html('<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...');
            signIn();
        });

        $("#btnSubmitOTP").click(function () {
            submitOTP();
        });

        $("#txtUsername").keypress(function (e) {
            var key = e.which;
            if (key == 13)
                signIn();
        });

        $("#txtPassword").keypress(function (e) {
            var key = e.which;
            if (key == 13)
                signIn();
        });

        function signIn() {
            var username = $("#txtUsername").val();
            var password = $("#txtPassword").val();

            $('#username-error').hide();
            if (username == '' || username == null) {
                $('#username-error').show();
                return false;
            }

            $('#password-error').hide();
            if (password == '' || password == null) {
                $('#password-error').show();
                $('#spinner').removeClass("show");
                return false;
            }


            var data = {
                username: username,
                password: password
            }

            var url = "";

            if (ENVIRONMENT == "LOCAL")
                url = BASE_URL_LOCAL;
            else if (ENVIRONMENT == "DEV")
                url = BASE_URL_DEV;
            else
                url = BASE_URL_PRD;

            $.ajax({
                type: "POST",
                url: url + "/Login/CheckUser",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: "html",
                success: function (response) {
                    /*console.log(response)*/
                    /*ORIGINAL*/
                    $("#partialModal").find(".modal-body").html(response);
                    $("#partialModal").modal({ backdrop: 'static', keyboard: false });
                    $("#partialModal").modal("show");
                    $("#btnSignIn").prop("disabled", false);
                    $("#btnSignIn").html('<button type="button" id="btnSignIn" class="btn btn-lg bg-cyan waves-effect">SIGN IN</button>');
                    /*END ORIGINAL*/
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });
        }
    });
</script>

